* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://www.gratistodo.com/wp-content/uploads/2016/08/fondos-oto%C3%B1o-descargar-gratis.jpg");
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* COMIENZO DEL CSS DE CONTACTOS */

.caja-padre-contactos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario {
  background-color: #002c2b80;
  padding: 20px;
  margin: 20px;
}

#width {
  width: 350px;
}

.titulo {
  margin-left: 500px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: orange;
}

.boton-enviar {
  padding: 10px;
  background-color: #002c2b;
  border-radius: 20px;
  font-size: 20px;
  color: white;
}

.boton-enviar:hover {
  background-color: white;
  scale: 1.1;
  color: rgb(255, 115, 0);
  font-size: 22px;
}

.consultas-parrafo {
  text-align: center;
  overflow-wrap: break-word;
  font-size: 24px;
  background-color: #002c2b;
  color: white;
  padding: 5px;
}

/* COMIENZO DEL CSS DE HEADER */



/* FIN DEL CSS DE HEADER */

/* 11111 /////////////////////////////////////////////////////////////////////////////////////////  */

/* COMIENZO DEL CSS DEL HEADER */

.header {
  background-color: #00875ec7;
  height: 85px;
  padding: 5px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  .logo {
    cursor: pointer;
  }
}

.logo {
  img {
    height: 70px;
    width: auto;
    transform: all 0.3s;
    border-radius: 80%;
  }
}

.logo {
  img:hover {
    transform: scale(1.2);
  }
}

.header {
  .nav-links {
    list-style: none;
  }
}

.nav-links {
  li {
    display: inline-block;
    padding: 0 20px;
  }
}

.nav-links {
  li:hover {
    transform: scale(1.1);
  }
}

/* APLICANDO OPEN AND CLOSE */

.overlay a:hover {
  transform: scale(1.1);
}

.menu {
  display: none;
}

.btn {
  button {
    margin-left: 20px;
    font-weight: 700;
    color: red;
    padding: 9px 25px;
    background-color: olivedrab;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

.menu {
  button {
    margin-left: 20px;
    font-weight: 700;
    color: red;
    padding: 9px 25px;
    background-color: olivedrab;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

.btn button:hover,
menu button:hover {
  background-color: white;
  color: blue;
  transform: scale(1.1);
}





/* NAVBAR MODO MOBILE */

.header a {
  text-decoration: none;
  /*borramos el que teniamos en .header .nav-links a*/
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: rgba(33, 49, 63, 0.95);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #ffbc0e;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}



/*  FIN DE APLICANDO OPEN AND CLOSE */

.nav-links {
  a {
    font-size: 700;
    color: white;
    text-decoration: none;
  }
}

li {
  a:hover {
    color: yellow;
  }
}

.btn {
  button {
    font-weight: 700;
    color: green;
    padding: 9px 25px;

    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
  }
}

.btn {
  button:hover {
    background-color: white;
    color: orange;
    transform: scale(1.1);
  }
}

/* FIN DEL CSS DEL HEADER */

/* 11111 /////////////////////////////////////////////////////////////////////////////////////////  */





/* COMIENZO DEL CSS DEL SLIDER */

#caja-padre-slider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
}

.caja-padre {
  width: 100%;

  display: flex;
  justify-content: center;
}


/* FIN DEL CSS DEL SLIDER */



/* COMIENZO DE CSS DE CARTA */
.index-post {
  width: 80%;
  transition: all 1.5s;
  height: auto;
  overflow-y: scroll;
  margin: auto;
  display: block;
  margin-top: 10%;
  background-color: #002c2ba8;
}

.index-post{
  h2{
    text-align: center;
    font-size: 35px;
    
  }
}

.contener {
  width: 240px;
  height: 320px;
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 black;
  transition: all 1s;
  overflow: hidden;
  float: left;
}

.contener:hover {
  transform: translateY(-20px);
  box-shadow: 0 11px 14px rgba(0, 0, 0, 0.25), 0 8px 20px rgba(0, 0, 0, 0.1);
}

.image-contener {
  width: 100%;
  height: 140px;
  display: block;
  overflow: hidden;
}

.image-contener img {
  width: 100%;
}



.meta-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110px;
  padding: 10px 20px;
  
}

.meta-contener .title {
  padding: 0;
  margin: 10px 0;

  font-size: 22px;
  color: red;
}

.meta-contener .desc {
  color: black;
  text-align: center;
  font-size: 13px;
}

.button-contener {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}
.button-contener .button {
  width: 100%;
  background: linear-gradient(125deg, #00ff35 0%, #0091a7 60%);
  color: #fff;
  padding: 6px 0;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.2s;
}

.button:hover {
  padding-left: 15px;
}

/* FINAL DE CSS DE CARTA */




















/* COMIENZO DE CSS DE PAGINA DE SOBRE NOSOTROS */


#foto-prensentacion {
  padding: 50px;
  margin-top: 50px;
}

.caja-padre-presentacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

#caja-transparente {
  margin: 100px;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 80%;
  overflow: scroll;
  text-align: center;
  background-color: #002c2ba8;

  text-decoration: solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: black 2px;
  color: white;
}

#caja-transparente-parrafo {
  text-align: center;
  overflow-wrap: break-word;
}

.titulos{
  line-height: 3;
  letter-spacing: 10px;
  word-spacing: 50px;
  text-shadow: 0px 0px 2px white;
  animation: cambio-color 2s infinite, aparicion 6s;
  box-sizing: border-box;
}
@keyframes cambio-color {
  0% {
    color: white;
    text-shadow: 0px 0px 2px white; }
  50% {
    color: white;
    text-shadow: 0px 0px 12px white; }
  100% {
    color: white;
    text-shadow: 0px 0px 2px white; } }

@keyframes aparicion {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

p {
  h3 {
    margin-top: 50px;
    font-family: fantasy;
  }
}

/* FINAL DE CSS DE PAGINA DE SOBRE NOSOTROS */

/* COMIENZO DE CSS DE PAGINA DE FOOTER */

.footer {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.redes-sociales {
  width: 500px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.cajas-redes {
  width: 80px;
  height: 80px;
}
#wsp-foto {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.fc-foto {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.insta-foto {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

/* FINAL DE CSS DE PAGINA DE FOOTER */

/* RESPONSIVE DEL BODY - HEADER - FOOTER */

@media all and (max-width: 450px) {
  body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* 1111//////////////////////////////////////////////////////////////////////////////////////////////// */

  /* COMIENZO DEL CSS DEL RESPONSIVE DEL HEADER */

  /* responsive del boton de menu o hamburguesa*/
  @media screen and (max-width: 800px) {
    .nav-links {
      display: none;
    }

    .btn {
      display: none;
    }

    .menu {
      display: inherit;
    }
  }

  @media screen and (max-height: 450px) {
    .header .overlay a {
      font-size: 20px;
    }
    .header .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }

    #caja-padre-slider {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #caja-transparente {
      width: 95%;
    }
  }

  /* FIN DEL CSS DEL RESPONSIVE DEL HEADER*/

  /*11111111/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  /* RESPONSIVE DEL HEADER */
  /*     .header {
      width: 100vw;
      height: 25vh;
      flex-direction: column;
      align-items: center;
    }
  
    .logo_imagen {
      width: 60vw;
      height: 10vh;
      margin-top: 25px;
      margin-left: 10px;
      
    }
  
    .titulo_header {
      width: 50vw;
      height: 50px;
    }
 */

  /* /* /* RESPONSIVE DEL CUERPO DE PAGINA 
  
    #cuerpo_de_pagina{
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    #señora-feliz{
      width: 100vw;
      height: 35vh;
      margin: unset;
    } */

  /* RESPONSIVE DEL FOOTER */

  .footer {
    width: 10vw;
    height: 10vh;

    margin: unset;
  }

  /* LOGOS DE REDES SOCIALES DEL FOOTER */
}
#wsp-foto {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.fc-foto {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.insta-foto {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* RESPONSIVE DE CAJA DE PRESENTACIÓN - PAGINA SOBRE NOSOTROS */
@media screen and (max-width: 800px) {
  .caja-padre-presentacion {
    overflow-wrap: break-word;
    font-size: auto;
  }
}

/*2222222222////////////////////////////////////////////////////////////*/

/* RESPONSIVE DE CARTAS */

/* DETALLES: el responsive funciona mejor si le aplicas el responsive
a la caja padre contenedora de cartas.
Si cambiamos el tamaño de la caja padre, las cartas se van a adaptar al tamaño de esta.
Tener en cuenta que debemos verificar y/omodificar el tamaño de la carta para que no se salga
de la caja padre. Creo que se aplica overflow y transition, verificar*
CONSEJO: HACER MAS VIDEOS DE YOUTUBE PARA PRACTICAR RESPONSIVE Y DEMAS COSAS
CONSEJO 2: REPASAR LAS CLASES DE CODER + VIDEOS DE YOUTUBE EXPLICANDO CADA TEMA, SIRVEN MUCHO!!!! */

@media screen and (max-width: 561px) {
  .index-post {
    width: 281px;
    height: 1496px;
  }
}

@media screen and (min-width: 562px) and (max-height: 1124px) {
  .index-post {
    width: 562px;
    height: 728px;
  }

 
}

@media screen and (min-width: 1125px) {
  .index-post {
    width: 1135px;
    height: auto;
  }
}

/*  FIN DEL RESPONSIVE DE CARTA DE LOS PRODUCTOS*/
/*222222222/////////////////////////////////////////////////////////////////////*/
